/*shared common style*/

body {
    font-family: 'Open Sans', sans-serif;
}

.text-primary {
    color: #FD6E0A;
}

.btn-primary {
    border-radius: 5px;
    background: #FD6E0A;
    padding: 20px 35px;
    font-size: 16px;
    border: none;
    color: white;
}

.btn-primary:hover {
    background: #ff8a37;
    cursor: pointer;
}

/*nav relate style*/
.header {
    background-color: #FFF8F3;
    background-image: url('../images/header_bg.png');
    background-repeat: no-repeat;
    background-position: bottom right;
    background-size: 650px 400px;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px 150px 0 150px;
}

.nav-title {
    color: #181818;
    font-size: 35px;
    font-weight: 800;
    margin: 0 0;
}

nav>ul {
    display: flex;
    align-items: center;
}

nav li {
    list-style: none;
    margin-left: 50px;
    /* font-size: 20px; */
}

nav li a {
    text-decoration: none;
    color: #505050;
}

.banner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 0 0 150px;
}

.banner-content {
    width: 540px;
}

.banner-greeting {
    color: #474747;
    font-size: 35px;
    font-weight: 600;
    margin: 0;
}

.banner-title {
    color: #181818;
    font-size: 65px;
    font-weight: 700;
    margin: 0;
}

.banner-dec {
    color: #757575;
    font-size: 15px;
    font-weight: 400;
}

.banner .profile-pic {
    width: 470px;
    margin-right: 30px;
    margin-bottom: -22px;
}

.developer-img {
    width: 70px;
    margin-top: -700px;
    margin-bottom: 60px;
    margin-left: 10px;
}

.about-section {
    text-align: center;
    margin: 100px 110px;
    padding: 80px 150px;
    background-color: #FFF8F3;
    border-radius: 10px;
}

.about-section p {
    color: #757575;
}

.about-info {
    display: flex;
    gap: 60px;
    margin-top: 30px;
    align-items: center;
    text-align: center;
    justify-content: space-around;
}

.about-title {
    margin: 0;
    padding: 0;
    font-size: 13px;
    color: #757575;
}

.about-detail {
    margin: 5px 0 0 0;
    font-size: 15px;
}

.i-do-title {
    text-align: center;
    /* width: 820px; */
    margin: auto;
    padding: 0 200px;
}

.skills {
    display: inline-block;
    width: 193px;
    padding: 22px;
    margin-right: 16px;
    border-radius: 5px;
    box-shadow: 0px 0px 10px 2px rgba(211, 211, 211, 0.377);
}

.skills-container {
    display: block;
    margin: 100px 100px;
    justify-content: center;
}

.resume {
    margin: 100px 110px;
}

.resume button {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
}

.resume-item {
    display: flex;
    justify-content: space-around;
}

.resume h2 {
    text-align: center;
}

.resume-content {
    width: 400px;
}

.resume-content h3 {
    font-size: 26px;
    color: #474747;
}

.resume-detail {
    margin-bottom: 5px;
    border-bottom: 1px solid #D1D1D1;
    ;
}

.resume-detail h5 {
    font-size: 20px;
    color: #474747;
    margin-bottom: 0;
}

.resume-detail .resume-dec {
    margin-bottom: 30px;
}

.resume-detail p {
    color: #474747;
}

.footer-content {
    display: flex;
    margin-top: 100px;
    justify-content: space-around;
    background-color: #FFF8F3;
    padding: 100px 180px;
}

.footer-contact {
    margin-right: 80px;
}

.footer-from input {
    border: none;
    width: 330px;
    margin: 15px 0;
    height: 45px;
    border-radius: 5px;
}

.footer-from input::placeholder,
textarea::placeholder {
    padding: 10px;
    font-size: 15px;
}

.footer-from textarea {
    border: none;
    margin: 15px 0;
    width: 330px;
    border-radius: 5px;
}

.hide {
    display: none;
}

@media screen and (max-width:576px) {
    .about-section {
        margin: 20px 0;
        padding: 30px;
    }

    .about-info {
        display: block;
    }

    .about-title {
        margin-top: 20px;
    }

    .i-do-title {
        text-align: center;
        margin-top: 20px;
        padding: 0 20px;
    }

    .skills-container {
        display: flex;
        flex-wrap: wrap;
        margin: 30px 10px;
        justify-content: center;
    }

    .skills-container .skills {
        width: 300px;
        margin: 10px;
    }

    .resume-item {
        display: block;
    }

    .resume-content {
        width: 100%;
    }

    .resume-detail {
        margin: 0;
    }

    .resume-content h3,
    .resume h2 {
        text-align: center;
    }

    .resume-detail,
    .resume-dec {
        text-align: center;
    }

    .resume-detail {
        margin-right: 20px;
    }

    .footer-content {
        display: block;
        padding: 20px 20px;
    }

    .footer-from {
        display: block;
    }

    .footer-from input {
        border: none;
        width: 90%;
        margin: 15px 0;
        height: 45px;
        border-radius: 5px;
    }

    .footer-from textarea {
        width: 90%;
    }
}


@media screen and (min-width:576.1px) and (max-width:992px) {
    .about-section {
        margin: 10px;
        padding: 20px;
    }

    .about-info {
        gap: 10px;
    }

    .about-title {
        margin-top: 20px;
    }

    .i-do-title {
        text-align: center;
        margin-top: 20px;
        padding: 0 20px;
    }

    .skills-container {
        display: flex;
        flex-wrap: wrap;
        margin: 30px 10px;
        justify-content: space-evenly;
    }

    .skills-container .skills {
        width: 250px;
        margin: 10px;
    }

    .resume-item {
        display: block;
    }

    .resume-content {
        width: 100%;
    }

    .resume-detail {
        margin: 0;
    }

    .resume-content h3,
    .resume h2 {
        text-align: center;
    }

    .resume-detail,
    .resume-dec {
        text-align: center;
    }

    .resume-detail {
        margin-right: 20px;
    }

    .footer-content {
        display: block;
        padding: 20px 20px;
    }

    .footer-from input,
    textarea {
        display: block;
        border: none;
        width: 60%;
        margin: 15px 0;
        height: 45px;
        border-radius: 5px;
    }

    .footer-from textarea {
        width: 60%;
    }
}